<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{title}} - GameStop</title>
</head>
<header>
    <h1>GameStop</h1>

    
</header>
<body>
    <main>{% for order in orders %}
        <div class="card-wrapper"> 
        <div class="card">
            <div class="card-layout">
                <h3>
                    {{order.name}}'s order
                </h3>
                <a href="/orders/{{orders.index(order)}}" class="cta">View order</a>
            </div>
        </div>
        </div>
        {% endfor %}

    </main>
</body>
</html>